# DataFrames Exercises Solutions

![](title_pict/df_exercises2.png)

## Question-1
Load the grades CSV file from *https://raw.githubusercontent.com/datasmp/datasets/main/grades.csv* into a DataFrame.

- Use the Pandas *read_csv()* method.
- Display the first 10 rows of the DataFrame.
- Display the last 10 rows of the DataFrame.

## Solution-1

In [1]:
import pandas as pd

In [2]:
df_grades = pd.read_csv('https://raw.githubusercontent.com/datasmp/datasets/main/grades.csv')

In [3]:
df_grades.head(10)

    Name        ID  Grade Gender  HW  Test-1  Test-2  Test-3  Test-4  Final
0  mqtvy  37047871     10      M  30      91      69      93      17     50
1  jbbsx  35439616     11      F   6      18      93       9      98     91
2  mrvab  35543247     11      M  78      92      60      43      34     26
3  bjyve  61282135      9      M  60       8      10      99      80     87
4  rlpsr  53448034     10      M   3      38      45      43      79     69
5  hotxq  96808584      9      F  29      18      61      17      72     39
6  ylskw  37901138      9      M  53      85      61      87       9     94
7  cuepi  91568175     11      M  27      61      82      19      19      8
8  fmrdj  70101966      9      F  52      35      14      70      12     78
9  iyhzx    840574     11      M  91      89      37      93      96     28

In [4]:
df_grades.tail(10)

     Name        ID  Grade Gender  HW  Test-1  Test-2  Test-3  Test-4  Final
90  wxtpu  98301627     12      M  44      57      99      87       9     62
91  dvadf  79686024     11      F   1      80      24      77      80     77
92  lagws  82526433     12      F  12      45      97      92      20     29
93  yzljj  10884705     10      M  92      75      41      33      61     66
94  jloze  30408806     10      M  19      24      73      98      48     95
95  zxuaq  58332078     12      M  57       1      48      61      58     99
96  vegye  10019910     11      F  88      30      48      85      48     17
97  euwlj  27967150     12      F  70      15      72      77      20     65
98  oesms  36171468     10      M  88      16     100      62      76     19
99  buugr  88783139     10      M  23      74      14      17      40     59

## Question-2
Display the Test 3 grade of the student rlpsr (5th student):
- Using loc
- Using iloc

## Solution-2

In [5]:
df_grades.loc[4,'Test-3']

43

In [6]:
df_grades.iloc[4,7]

43

## Question-3
Display the column labels.

## Solution-3

In [7]:
df_grades.columns

Index(['Name', 'ID', 'Grade', 'Gender', 'HW', 'Test-1', 'Test-2', 'Test-3',
       'Test-4', 'Final'],
      dtype='object')

## Question-4
Remove the *gender* column from the DataFrame.

## Solution-4

In [8]:
df_grades.drop('Gender', axis=1, inplace=True)

In [9]:
df_grades.head()

    Name        ID  Grade  HW  Test-1  Test-2  Test-3  Test-4  Final
0  mqtvy  37047871     10  30      91      69      93      17     50
1  jbbsx  35439616     11   6      18      93       9      98     91
2  mrvab  35543247     11  78      92      60      43      34     26
3  bjyve  61282135      9  60       8      10      99      80     87
4  rlpsr  53448034     10   3      38      45      43      79     69

## Question-5
Add a new column named *Weighted Average*, calculated as follows:

$0.10 \times HW + 0.15 \times Test1 + 0.15 \times Test2 + 0.15 \times Test3 + 0.15 \times Test4 + 0.3 \times Final$

## Solution-5

In [10]:
df_grades['Weighted Average'] = df_grades['HW']*10/100+df_grades['Test-1']*15/100+df_grades['Test-2']*15/100+df_grades['Test-3']*15/100+df_grades['Test-4']*15/100+df_grades['Final']*30/100
df_grades.head()

,Name,ID,Grade,HW,Test-1,Test-2,Test-3,Test-4,Final,Weighted Average
0,mqtvy,37047871,10,30,91,69,93,17,50,58.50
1,jbbsx,35439616,11,6,18,93,9,98,91,60.60
2,mrvab,35543247,11,78,92,60,43,34,26,49.95
3,bjyve,61282135,9,60,8,10,99,80,87,61.65
4,rlpsr,53448034,10,3,38,45,43,79,69,51.75

## Question-6

Display only the name of the student with highest Weighted Average.

## Solution-6

In [11]:
df_grades.sort_values('Weighted Average', ascending=False)

,Name,ID,Grade,HW,Test-1,Test-2,Test-3,Test-4,Final,Weighted Average
49,amadn,91219544,10,86,97,39,55,94,91,78.65
16,abqln,59927557,11,26,97,100,46,94,78,76.55
82,nwfrg,56248049,9,58,64,71,86,65,84,73.90
81,mndro,52386329,11,76,88,85,91,80,44,72.40
6,ylskw,37901138,9,53,85,61,87,9,94,69.80
...,...,...,...,...,...,...,...,...,...,...
12,jjgag,46794501,11,8,43,1,7,82,36,31.55
88,fxvdn,87133022,12,54,38,22,43,2,31,30.45
37,nraon,52950898,12,17,14,45,29,46,24,29.00
60,eunkr,51870627,11,35,35,10,49,18,27,28.40
43,etdql,46194596,12,56,20,32,16,10,2,17.90

In [12]:
df_grades.sort_values('Weighted Average', ascending=False).iloc[0,0]

'amadn'

## Question-7
Find the number of students in the 11th grade.

## Solution-7

In [13]:
df_grades.value_counts('Grade')

Grade
9     27
11    26
12    24
10    23
Name: count, dtype: int64

In [14]:
df_grades.value_counts('Grade')[11]

26